@import url(https://fonts.googleapis.com/css?family=Roboto);
*{
    margin: 0;
    padding: 0
}
body{
  background-color: #353B3F;
}

span.s1 {
  position: absolute;
  font-family: "Roboto", sans-serif;
  top: 0;
  font-size: 10rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #3C4447;
}
span.s2 {
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 8rem;
  text-transform: uppercase;
  color: #3C4447;
}


input[type=search] {
    width: 800px;
    position: absolute;
    top: 28%;
    left: 20%;
    color: white;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: transparent;
    background-image: url('img/search.png');
    background-size: 22px 24px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.pressenter {
    position: absolute;
    top: 38%;
    left: 20%;
    color: lightgray
}

input[type=search]:focus {
    background: white;
    color: #2d2d2d
}

#search-button{
    display: none
}

#results{
    margin-top: 25% 
}

.card {
  position: relative;
  height: 150px;
  width: 800px;
  margin: 100px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 200px;
  width: 300px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.right {
  margin-left: 490px;
  margin-right: 20px;
}

.heading1 {
  padding-top: 10px;
  font-size: 1.3rem;
  color: #4B4B4B;
}

.author {
  background-color: #9ECAFF;
  height: 30px;
  width: 110px;
  border-radius: 20px;
}

.heading2 {
  padding-top: 8px;
  margin-right: 12px;
  text-align: right;
  font-size: 0.8rem;
}

.date {
  position: absolute;
  bottom: 10px;
  right: 30px;
  font-size: 1.2rem;
  color: #C3C3C3;
}

.btndesign {
    padding: 15px;
    background-color: #2d2d2d;
    border: 1px solid lightgray;
    color: white;
    border-radius:10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin-right: 20px
}
